<div class="container">
  <h1>Waiting for owner's validation</h1>
  <div class="container d-flex">
    <% @rentals.each do |rental| %>
      <% if rental.status == "pending" %>
        <div class="card" style="width: 18rem;">
          <div style="background-size: cover; background-position: center; height: 200px; background-image: url('<%= cl_image_path rental.bike.photo.key%>');"></div>
          <div class="card-body">
            <p class="card-text"><%= rental.start_at %><strong> -> </strong> <%= rental.end_at %></p>

            <p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= rental.bike.location %></p>
            <p class="card-text"><i class="fa-solid fa-euro-sign"></i>  30€</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
<hr>
<div class="container">
  <h1>Next rentals</h1>
  <div class="container d-flex">
    <% @rentals.each do |rental| %>
      <% if rental.start_at > Date.today && rental.status == "validated" %>
        <div class="card" style="width: 18rem;">
            <div style="background-size: cover; background-position: center; height: 200px; background-image: url('<%= cl_image_path rental.bike.photo.key%>');"></div>
          <div class="card-body">
            <p class="card-text">Start : <%= rental.start_at %></p>
            <p class="card-text">End : <%= rental.end_at %></p>
            <p class="card-text">Location : <%= rental.bike.location %></p>
            <p class="card-text">Total price : 43€ </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <h1>Past rentals</h1>
  <div class="container d-flex">
    <% @rentals.each do |rental| %>
      <% if rental.end_at < Date.today && rental.status == "validated" %>
        <div class="card" style="width: 18rem;">
            <div style="background-size: cover; background-position: center; height: 200px; background-image: url('<%= cl_image_path rental.bike.photo.key%>');"></div>
          <div class="card-body">
            <p class="card-text">Start : <%= rental.start_at %></p>
            <p class="card-text">End : <%= rental.end_at %></p>
            <p class="card-text">Location : <%= rental.bike.location %></p>
            <p class="card-text">Total price : 60€ </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
