<div class="container">
  <h1>En attente</h1>
  <div class="container d-flex">
    <% @rentals.each do |rental| %>
      <% if rental.status == "pending" %>
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag rental.bike.photo.key, class:"card-img p-1 pB-0" %>
          <div class="card-body">
            <p class="card-text">Start : <%= rental.start_at %></p>
            <p class="card-text">End : <%= rental.end_at %></p>
            <p class="card-text">Location : <%= rental.bike.location %></p>
            <p class="card-text">Total price : 30€ </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
<hr>
<div class="container">
  <h1>A venir</h1>
  <div class="container d-flex">
    <% @rentals.each do |rental| %>
      <% if rental.start_at > Date.today %>
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag rental.bike.photo.key, class:"card-img p-1 pB-0" %>
          <div class="card-body">
            <p class="card-text">Start : <%= rental.start_at %></p>
            <p class="card-text">End : <%= rental.end_at %></p>
            <p class="card-text">Location : <%= rental.bike.location %></p>
            <p class="card-text">Total price : 43€ </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <h1>Passées</h1>
  <div class="container d-flex">
    <% @rentals.each do |rental| %>
      <% if rental.end_at < Date.today && rental.status != "pending" %>
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag rental.bike.photo.key, class:"card-img p-1 pB-0" %>
          <div class="card-body">
            <p class="card-text">Start : <%= rental.start_at %></p>
            <p class="card-text">End : <%= rental.end_at %></p>
            <p class="card-text">Location : <%= rental.bike.location %></p>
            <p class="card-text">Total price : 60€ </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
