<body>
  <div class="container">
    <div class="bike-card d-flex justify-content-between">
      <div class="card-product d-flex justify-content-between mt-5">
        <%= cl_image_tag @bike.photo.key, crop: :fill %>
        <div class="card-product-infos text-end">
          <h2><strong><%= @bike.bike_name %></strong></h2>
          <p class="text-muted mb-4"><i class="fas fa-road"></i> <%= "#{@bike.category} - #{@bike.gender.capitalize}" %></p>
          <h3 class="mb-4"><strong><%= "#{@bike.daily_price}€" %></strong><small> / day</small></h3>
          <p class="text-muted"><i class="fas fa-map-marker-alt"></i> <%= @bike.location %></p>
          <p class="text-muted mt-4"><small>Proposed by <%= @bike.user.last_name + " " + @bike.user.first_name %></small></p>
        </div>
      </div>

      <div class="form">
        <h2 class="text-end"><strong>Booking details</strong></h2>
        <div class="formulaire" data-controller="price" data-action="input->price#price">
          <%= simple_form_for([@bike, @rental]) do |f| %>
            <p class="d-none" data-price-target="daily"><%= "#{@bike.daily_price}" %></p>
            <%= f.input :start_at, as: :string, required: true, input_html: {class: "datepicker date-input", "data-price-target" => "start" } %>
            <%= f.input :end_at, as: :string, required: true, input_html: {class: "datepicker date-input", "data-price-target" => "end"} %>
            <%= f.input :total_price, required: true, label: false, input_html: {class: "d-none", "data-price-target" => "price"} %>
            <div class="d-flex align-items-center">
              <h5>Total price : &nbsp</h5>
              <h3 class="mt-0" data-price-target="totalprice"><strong><%= @bike.daily_price %> €</strong></h3>
            </div>
            <div class="mt-1">
              <% if current_user %>
                <%= f.submit "BOOK YOUR BIKE NOW !", class: "btn btn-success" %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <%= f.submit "Log in and book your bike !", class: "btn btn-success" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <a href="/bikes" class="btn btn-success px-5">Back to all bikes</a>


     <div id="map-show"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

  </div>
</body>
