<body>
  <div class="container">
    <div class="bike-card d-flex justify-content-between">
      <div class="card-product d-flex justify-content-between">
        <%= cl_image_tag @bike.photo.key, crop: :fill %>
        <div class="card-product-infos text-end">
          <h2><%= @bike.bike_name %></h2>
          <p>Owner : <%= @bike.user.last_name + " " + @bike.user.first_name %></p>
                  <p>Daily Price : <%= "#{@bike.daily_price}€" %></p>
                  <p>Location : <%= "#{@bike.location}" %></p>
                  <p>Category : <%= @bike.category %></p>
                  <p>Gender : <%= @bike.gender %></p>
        </div>
      </div>

      <div class="form">
        <h2 class="text-end">Booking details</h2>
        <div class="formulaire">
          <%= simple_form_for([@bike, @rental]) do |f| %>
            <%= f.input :start_at %>
            <%= f.input :end_at %>
            <% if current_user %>
                <%= f.submit "BOOK YOUR BIKE NOW !", class: "btn btn-success" %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <%= f.submit "Log in and book your bike !", class: "btn btn-success" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <a href="/bikes" class="btn btn-success">Back to all bikes !</a>
  </div>
</body>
